<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link rel="stylesheet" href="stylesheets/home.css">
  <title>Nuclear Apparel coming soon page</title>
</head>

<body>
  <nav>
    <img src="images/logo.svg" alt="Nuclear Apparel Logo">
  </nav>
  <div class="wrapper">
    <div class="right">
      <span class="one">Welcome <%= username%>!</span><br><br><span class="two"> Nuclear Apparel<br>Coming Soon!</span>
      <p>
        Hello fellow MetalHeads! We're currently building our new fashion store.
        Add your email below to stay up-to-date with announcements and our launch deals.
      </p>
    </div>
    <div class="image">
      <img class="img" src="images/hero-desktop.jpg" alt="girl">
      <img class="mobile" src="images/hero-mobile.png" alt="">
    </div>
  </div>
</body>

</html>